:root {
    --gray: #868C97;
    --black: #151515;
    --green: #42CBA5;
    --white: #fff;
    --darkgray: #202020;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--black);
}

.section3-title,
.section4-title,
.section5-title {
    display: flex;
    color: var(--white);
}

.section3-title h1,
.section4-title h1,
.section5-title h1 {
    font-size: 4em;
}