:root {
    --gray: #868C97;
    --black: #151515;
    --blue: #130bc2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
}

#section1,
#section2,
#section3,
#section4,
#section5{
    display: flex;
    height: calc(100vh - 100px);
}