::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(66, 203, 165, 0);
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 6px;
}