#section4 {
    position: relative;
}

.conhecimentos {
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.section4-left,
.section4-right {
    justify-content: center;
}

.section4-left {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.section4-left span {
    color: var(--gray);
    font-size: 25px;
    padding-right: 40px;
    text-align: justify;
}

.section4-right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 5px), 1fr));
    gap: 5px;
    max-width: calc(33.33% * 3 + 10px * 2);
    margin-top: 12px;
}

.section4-right img {
    max-width: 100%;
    height: 60px;
}

.section4-right .box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    background-color: #181818;
}

.span-displayed {
    display: block;
}

.section4-left span:not(.span-displayed) {
    display: none;
}

.section4-title {
    position: absolute;
    top: 50px;
    align-self: start;
}