#section2 {
    margin: 70px;
}

.aboutme {
    display: flex;
    width: 1250px;
    height: 500px;
    align-items: center;
    margin: auto;
    background-color: #202020;
    border: 1px solid #AAA;
    border-radius: 5px;
}

.section2-left {
    margin: auto;
}

.section2-left img {
    width: 320px;
    border-radius: 50%;
    margin: auto;
    border: 10px double var(--blue);
}

.section2-right {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    color: #FFF;
}

.aboutme h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.section2-right h3 {
    color: var(--blue);
    font-size: 40px;
}

.section2-right span {
    margin-top: 25px;
    font-size: 20px;
    text-align: justify;
    color: var(--gray);
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-top: 25px;
}

.box {
    border-radius: 8px;
    padding: 20px;
    background-color: #151515;
    border: 2px solid transparent;
    cursor: pointer;
}

.box:hover {
    border: 2px solid var(--blue);
}

a img {
    height: 30px;
}