#section3 {
    height: 50vh;
    max-height: 500px;
    display: flex;
    background-color: var(--darkgray);
    position: relative;
    min-height: 450px;
}

.experience {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.experience-name {
    background-color: var(--black);
    margin-right: 40px;
}

.experience-name ul {
    width: 300px;
    list-style-type: none;
    padding: 0;
}

.experience-name ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 25px;
    transition: background-color 0.3s ease;
    padding-left: 20px;
    color: var(--white);
    font-size: 2em;
    text-transform: capitalize;
}

.experience-description {
    display: none;
    height: 200px;
    text-align: justify;
}

.experience-description:first-child {
    display: block;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.title h2 {
    color: var(--white);
    font-size: 3em;
    text-transform: capitalize;
}

.title span {
    color: var(--gray);
    font-size: 1.4em;
}

h4 {
    color: var(--green);
    margin-bottom: 15px;
    font-size: 2.6em;
    text-transform: capitalize;
}

.experience-description span {
    color: var(--gray);
    line-height: 1.6;
    font-size: 1.8em;
}

ul .displayed {
    color: var(--green) !important;
    border-left: 3px solid var(--green);
}

.section3-title {
    position: absolute;
    top: 50px;
}

.section3-title h1 span {
    color: var(--green);
}