#section1 {
    display: flex;
    margin: 120px auto;
    justify-content: center;
}

.section1-left {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.section1-left h1 {
    color: var(--white);
    font-size: 5.5em;
}

.section1-left span {
    color: var(--green);
}

.section1-left h4 {
    color: var(--gray);
    font-size: 2.1em;
    margin-top: 30px;
}

.section1-left button {
    height: 50px;
    margin-top: 50px;
    margin-right: 20px;
    justify-content: center;
    width: 170px;
    background-color: var(--green);
    border: none;
    border-radius: 8px;
    align-self: end;
    transition: 0.5s;
    cursor: pointer;
}

.section1-left button a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.6em;
}

.section1-left button:hover {
    background-color: #008472;
    width: 200px;
}

.section1-right {
    display: flex;
    margin-right: 25px;
}

.section1-right img {
    height: 100%;
    max-height: 500px;
}