#section4 {
    position: relative;
    max-height: 600px;
    min-height: 500px;
    display: flex;
}

.conhecimentos {
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}


.section4-left,
.section4-right {
    justify-content: center;
}

.section4-left {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.section4-left span {
    color: var(--gray);
    font-size: 2.5em;
    padding-right: 40px;
    text-align: justify;
}

.section4-right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 10px), 1fr));
    gap: 10px;
    max-width: calc(100% - 20px);
    margin: 15px;
}

.section4-right img {
    max-width: 100%;
    height: auto;
}

.section4-right .box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    padding: 15px;
}


.span-displayed {
    display: block;
}

.section4-left span:not(.span-displayed) {
    display: none;
}

.section4-title {
    position: absolute;
    top: 50px;
    align-self: start;
}