.aboutme {
    display: flex;
    max-width: 1250px;
    height: 450px;
    margin: 30px auto;
    background-color: var(--darkgray);
    border: 1px solid #AAA;
    border-radius: 5px;
    margin-bottom: 100px;
}

.section2-left {
    margin: auto;
}

.section2-left img {
    width: 320px;
    border-radius: 50%;
    border: 10px double var(--green);
}

.section2-right {
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
    color: var(--white);
}

.aboutme h1 {
    font-size: 3em;
    margin-bottom: 25px;
}

.section2-right h3 {
    color: var(--green);
    font-size: 4em;
}

.section2-right span {
    margin-top: 25px;
    font-size: 2em;
    text-align: justify;
    color: var(--gray);
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    margin-top: 25px;
}

.box {
    border-radius: 8px;
    padding: 20px;
    background-color: var(--black);
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.7s ease-in-out;
}

.box:hover {
    border: 2px solid var(--green);
}

a img {
    height: 30px;
}